src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="implementationFlow" doc:id="e87f4022-f043-41c0-b97e-d9d41c3a2ce9" >
		<ee:transform doc:name="Transform Message" doc:id="fc135bd4-0f25-4d2d-9388-9b1e3589d535" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
now()
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d6d4ce6c-b88e-4926-a254-1eae3d08ef8e" message="#[payload]"/>
	</flow>
</mule>
